form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body{
    background-color: rgb(223, 236, 238);
}
label{
    font-size: 1em;
    font-weight: bold;
}

#btn1{
    background-color: #09440b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    border-radius: 1em;
    transition: 0.3s;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
}
#btn1:hover{
    opacity: 0.8;
}